doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js')
    link(href='https://use.fontawesome.com/releases/v5.0.6/css/all.css', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Lato', rel='stylesheet')
    title Reflect
    link(rel='stylesheet', href='/stylesheets/base.css')
    link(rel='stylesheet', href='/stylesheets/history.css')
    link(rel='stylesheet', href='/stylesheets/goal.css')
    link(rel='stylesheet', href='/stylesheets/achievement.css')
    script(src='/scripts/dragdrop.js')

  body
    .achievement-container
      div#achievement
        .circle
        .copy
          h4

    nav.navbar.navbar-expand-sm.bg-success.navbar-dark.fixed-top
      ul.navbar-nav
        li.navbar-brand
          a.navbar-brand(href='home') reflect
      ul.navbar-nav.ml-auto
        li.nav-item
          a.nav-link(href='/history') Past Posts
        li.nav-item
          a.nav-link(href='/pastgoals') Goals
        li.nav-item.dropdown
          a#navbardrop.nav-link.dropdown-toggle(href='#', data-toggle='dropdown') #{user.username}
          .dropdown-menu.dropdown-menu-right
            .level
              - var prog = Math.ceil((level % 1) * 100)
              - var current = Math.floor(level)
              if prog != 0
                p level #{current}
                .progress
                  .progress-bar(role='progressbar', aria-valuenow=prog, aria-valuemin='0', aria-valuemax='100', style='width:' + prog + '%') #{prog}%
              else
                p level #{current}, 0%

    if goals.length != 0
      div.goal-lists
        div.goals-list(id="in-progress", ondrop="drop(event)", ondragover="allowDrop(event)")
          h2 In Progress
          each goal, ind in goals
            if goal.in_progress
              - var timestamp = goal.timestamp
              div.goal-card(id=ind, draggable='true', value=timestamp, ondragstart="drag(event)")
                h3 Goal: #{goal.goal}
                p Complete By: #{goal.duration}
                p Reward: #{goal.reward}
                br
                p.date Created On:#{goal.createdAt}

        div.goals-list(id="completed", ondrop="drop(event)", ondragover="allowDrop(event)")
          h2 Completed
          each goal, ind in goals
            if !goal.in_progress
              - var timestamp = goal.timestamp
              div.goal-card(id=ind, draggable='true', value=timestamp, ondragstart="drag(event)")
                h3 Reward: #{goal.reward}
                p Goal: #{goal.goal}
                p Complete By: #{goal.duration}
                br
                p.date Created On:#{goal.createdAt}
    else
      div.error You have not created a goal yet!
      div.e
        a.error(href='/newgoal') [Click here to create a new goal]

    script(src='/scripts/achievement.js')
    if achievementMessage
      script showAchievement("#{achievementMessage}")
      - displayed()
